body{
    background: url("../images/bg.png") repeat-y right top;
    min-height: 100%;
}
.main_box{
    background: url("../images/bg.png") repeat-y left top;
    min-height: 100vh;
}
.navbar-dark .navbar-nav .nav-link{
    color: #fff;
}
table.table{
    margin-top: 30px;
    -webkit-box-shadow: 0px 10px 47px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 47px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 47px -1px rgba(0,0,0,0.75);
}
form.table.pagination{
    margin: 45px auto 0;
    width: 50%;
}
.nav-item.dropdown a#navbarDropdown{
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}