{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}
{% block stylesheets %}
    <script type="text/javascript" src="{{ asset('assets/libs/tinymce/tinymce.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/libs/tinymce/jquery.tinymce.min.js') }}"></script>
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    <script>
        tinymce.init({
            selector: 'textarea',
            setup: function(editor) {
                editor.getElement().removeAttribute('required');
            },
            theme: 'modern',
            height: 500,
            fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt",
            plugins: [
                'advlist autolink link image imagetools lists charmap print preview hr anchor pagebreak spellchecker',
                'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
                'save table contextmenu directionality emoticons template paste textcolor'
            ],
            toolbar: 'insertfile undo redo | styleselect | bold italic | fontselect |  fontsizeselect | sizeselect | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons',
            imagetools_toolbar: "rotateleft rotateright | flipv fliph | editimage imageoptions",
            image_advtab: true,
            external_filemanager_path:"/assets/libs/tinymce/plugins/filemanager/",
            filemanager_title:"Responsive Filemanager",
            external_plugins: { "filemanager" : "plugins/filemanager/plugin.min.js"},
            filemanager_access_key: "S2ifiG1LlaI1Mopg1oUt5e1P8q2jeSQ7" ,
        });
    </script>
    {{ parent() }}
{% endblock %}
