{% extends 'container.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/content.css') }}">
{% endblock %}
{% block body %}
    <div class="page-403">
        <img src="{{ asset('images/service/403.png') }}" alt="">
        <p>Вы запросили страницу, доступ на которую ограничен специальными правами.</p>
    </div>
{% endblock %}